<app-header></app-header>

<div>
  <div class="card">
    <h2>Ingeniería del software </h2>

    <div *ngFor="let pregunta of questions; let preguntaIndex = index">
      <h4 class="question-container">Pregunta {{ preguntaIndex + 1 }}</h4>
      <input type="text" [(ngModel)]="pregunta.questionText" placeholder="Escriba su pregunta aquí..."
        class="input-100">
        <h6 class="question-container">(Marque casilla como opción correcta) </h6>
      <div class="option-container" *ngFor="let opcion of pregunta.options; let opcionIndex = index">
        <label for="opcion{{ opcionIndex }}" style="margin-right: 15px;">Opción {{ opcionIndex + 1 }}:</label>
        <input type="text" name="options{{ opcionIndex }}" [(ngModel)]="pregunta.options[opcionIndex].text" required>
        <input type="radio" name="radio{{ opcionIndex }}" value="true"
          [(ngModel)]="pregunta.options[opcionIndex].correct" required
          (change)="selectOption(opcionIndex, preguntaIndex)" class="option-container"
          [ngClass]="{'radio-selected': pregunta.options[opcionIndex].correct}">
      </div>
      <input type="text" [(ngModel)]="pregunta.explanation" placeholder="Escriba la explicación aquí..."
        class="input-100">
    </div>
    <div class="button-container">
      <button mat-raised-button class="btn btn-primary" (click)="addQuestion()">Agregar pregunta</button>
      <button mat-raised-button class="btn btn-second" (click)="saveQuestions()"
        [disabled]="questions.length===0">Guardar cuestionario</button>
    </div>
    <div class="d-flex justify-content-around">
      <button class="btn" (click)="openConfirmModal()" [disabled]="isModalOpen"><i class="fa fa-home text-black fa-3x"
          aria-hidden="true"></i></button>
    </div>
  </div>

</div>